{% extends 'article/layout.html.twig' %}
{% block content %}
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                   {{ article.content|raw }}
                </div>
            </div>
        </div>
    </article>
{% endblock %}

{% block header %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>{{ article.title }}</h1>
                        <h2 class="subheading">{{ article.subtitle }}</h2>
                        <span class="meta">
                                Posted by
                                <a href="#!">{{ article.author.email }}</a>
                                on {{ article.publicationDate|date('F d, Y') }}
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}